##### LOCAWEB - NAO REMOVER #####
AddHandler php80-script .php
suPHP_ConfigPath /home/promotoracredito1/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://promotoracreditoseguro.com/$1 [R,L]